# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker volumes
*/docker/mysql/

# Symfony
*/app/vendor/
*/app/var/
*/app/.env.local
*/app/.env.*.local

# PHPUnit
*/app/.phpunit.cache/
*/app/phpunit.xml
