# Docker volumes
docker/mysql/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Symfony
app/vendor/
app/var/
app/.env.local
app/.env.*.local

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
